.idea/
*.user
Acme.BusinessLogic/bin/
Acme/bin/
packages/
Acme/obj/
Acme.BusinessLogic/obj/
Acme.BusinessLogic.Test/obj/
*node_modules*
/Acme.Runner/bin/*
/Acme.BusinessLogic.Test/bin/*
/Acme.Runner/obj/*
/.vs/*
/Acme/dist/*
/Acme/App/dist/*
